html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  padding: .50rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.footer{
  display: flex;
  align-items: center;
  background-color: #222;
  justify-content: center;
  color: white;
  padding: 1rem;
}

.footer p {
  font-size: .75rem;
}

.links a,
.links a:visited {
  color: #9D00FF;
  text-decoration: none;
  font-weight: 700;
}

.links a:hover{
  color: #3b82f6;
}

.game-card{
  background-color: #181818;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-card h3{
 font-size: 1.3rem;
 font-weight: 800;
 margin-bottom: .75rem;
}

.game-card button {
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: #9D00FF;
  color: white;
  font-size: 1rem;
}

.game-card button:hover {
  background-color: #3b82f6;
}

.game-card p {
  margin: .4rem;
  color: #d1d5db;
  font-size: 1.25rem;
}

.game-card:hover{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.games-container{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );
  gap: 1rem;
  padding: 1rem;
}