html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  padding: .50rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.footer{
  display: flex;
  align-items: center;
  background-color: #222;
  justify-content: center;
  color: white;
  padding: 1rem;
}

.footer p {
  font-size: .75rem;
}

.links a,
.links a:visited {
  color: #9D00FF;
  text-decoration: none;
  font-weight: 700;
}

.links a:hover{
  color: #3b82f6;
}

.game-card{
  background-color: #181818;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-card h3{
 font-size: 1.3rem;
 font-weight: 800;
 margin-bottom: .75rem;
}

.game-card button {
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: #9D00FF;
  color: white;
  font-size: 1rem;
}

.game-card button:hover {
  background-color: #3b82f6;
  cursor:pointer;
}

.game-card p {
  margin: .4rem;
  color: #d1d5db;
  font-size: 1.25rem;
}

.game-card:hover{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.games-container{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );
  gap: 1rem;
  padding: 1rem;
}

.game-form{
  background-color: #181818;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formTitle{
  color: #9D00FF;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  background-color: #181818;
  margin: 0px;
}

.formSuccess{
  background-color: #181818;
  color: #9D00FF;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 0px;
}

.detailsTitle{
  color: #9D00FF;
  font-size: 3rem;
}

.formButton{
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: #9D00FF;
  color: white;
  font-size: 1.2rem;
}

.formButton:hover{
  background-color: #3b82f6;
  cursor:pointer;
}

.form-group{
  padding: .25rem;
  margin: .25rem;
  color: #d1d5db;
  font-size: 1.5rem;
}

.form-group input, select{
  font-size: 1.4rem;
  border-radius: 10px;
  padding: .25rem;
}

.deleteForm{
  background-color: #181818;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deleteForm h2{
  color: #9D00FF;
  font-size: 3rem;
}

.deleteForm button {
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: #9D00FF;
  color: white;
  font-size: 1.2rem;
}

.deleteForm button:hover {
  background-color: #3b82f6;
  cursor:pointer;
}

.deleteForm p {
  background-color: #181818;
  color: #9D00FF;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}

.CreateForm h1{
  background-color: #181818;
  color: #9D00FF;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3rem;
  margin: 0px;
}

.CreateForm p {
  background-color: #181818;
  color: #9D00FF;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 0px;
}

.errorPage{
  background-color: #181818;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorPage h1{
  color: #9D00FF;
  font-size: 3rem;
  margin: 10px;
}

.errorLink{
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: #9D00FF;
  color: white;
  font-size: 1.2rem;
}

.errorLink:hover{
  background-color: #3b82f6;
  cursor:pointer;
}

.pc {
  background: #1B2838;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ps4, .ps5 {
  background: #006FCD;
  width: 100%;
  height: 100%;
  text-align: center;
}

.nintendo-switch, .nintendo-switch-2 {
  background: #E60012;
  width: 100%;
  height: 100%;
  text-align: center;
}